﻿@keyframes content-main-division-kf{100% {opacity: 1;}}
@keyframes content-area-kf{0% {height: 0px; opacity: 0;} 100% {height: 100%; opacity: 1;}}
@keyframes content-area-on-unload-kf {100% {opacity: 1;}}

.content-main-division {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 31, 40);
    opacity: 0.6;
    animation: content-main-division-kf 0.7s ease-out 0s both normal;
    font-family: 'Times New Roman', Times, serif;
}


.content-area {
    padding: 3em 8em;
    position: relative;
    overflow-y: scroll;
    overflow-wrap: break-word;
    width: 50vw;
    left: 25vw;
    right: 25vw;
    height: 0px;
    background-color: beige;
    letter-spacing: 0.075em;
    opacity: 0;
    animation: content-area-kf 1.5s ease-in-out 0.7s both normal;
}

.centertext {text-align: center;}
.underline{text-decoration: underline;}
.bold{font-weight: Bold}

.heading {font-size: 2.5em; font-weight: bold;}
.adjust {text-align: justify; text-justify: distribute; }
.indent {margin-left: 1em; }
.indent-double {margin-left: 2em;}

.linehight-onehalf{line-height: 1.5em; }

#skills-content{ 
    font-family: Courier, 'Courier New', monospace;
    letter-spacing: 0.05em;
}

@media only screen and (max-width: 1366px){
    .content-area {
        width: 70%;
        left: 15%;
        right: 15%;
        padding: 2.5em;
    }
}
@media only screen and (orientation: portrait) and (max-width: 580px){
    .content-area {
        width: 100%;
        left: 0px;
        right: 0px;
        padding: 2em;
    }
}