﻿@keyframes homekf { 0% {opacity: 0.6;}  100% {opacity: 1; } }
@keyframes homeelementkf { 0% {opacity: 0;} 100% {opacity: 1;} }
@keyframes homecontentkf { 100% {transform: translate(0, -13.88888888888889vh);} }
@keyframes home-element-on-unload-kf{100%{opacity: 0;}}

@keyframes datacontainerkf{
    from {opacity: 0;}
    to{opacity: 1;}
}
@keyframes datatypekf {
    100% { opacity: 1;}
}
@keyframes home-content-on-unload{
    100% {opacity: 1;}
}
/*HOME*/
.homecontainer {
    position: fixed;
    overflow-y: scroll;
    overflow-y:visible;
    top: 0;
    left: 0;
    bottom: 0;
    display: inline;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 31, 40);
    color: antiquewhite;
    animation: homekf 2s ease-in 0s both normal;
    scrollbar-track-color: gold;
}

.no-animation{animation-delay: 0s !important;}

.homecontent {
    position: relative;
    top: 30%;
    animation: homecontentkf 2s ease-in-out 0s both normal;
    animation-delay: 6s;
}

    .homecontent h1 {
        /*height: 12.96296296296296vh;*/
        margin-bottom: 6.481vh;
        font-weight: 700;
        letter-spacing: 0.001em;
        font-size: 6.48vh;
    }

    .homecontent h2, h4 {
        font-weight: 400;
        font-size: 2.777vh;
        height: 3.7vh;
    }
    #name{ animation: homeelementkf 1s ease-in-out 2s both normal;}
    #job{  animation: homeelementkf 1s ease-in-out 4s both normal;}
    #email{animation: homeelementkf 1s ease-in-out 5s both normal;}





.datacontainer {
    opacity: 0;
    display: inline-flex;
    justify-content: stretch;
    justify-self: center;
    justify-items:stretch;
    
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    position: relative;
    align-items: stretch;
    align-content: center;
    background-color: transparent;
    padding-top: 27.777vh;
    width: auto;
    height: auto;
    animation: datacontainerkf 2s ease-in-out 9s both normal;
}
.datatype {
    opacity: 0.4;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 3.75rem 2.5rem;

    border-color: white;
    background-color: white;
    color: #F90;
    align-content: center;
    align-items: center;
    vertical-align: central;
    transition: all 0.3s ease-in;
    animation: datatypekf 1s ease-in-out both normal;
}
    .datatype:hover {
        background-color: #D62929;
        color: white;
    }
    .datatype h1 {
        font: bold;
        font-size: 2.777vh;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        align-content: center;
    }
        #skills {animation-delay: 11s;}        
        #projects {animation-delay: 12s;}        
        #certificates {animation-delay: 13s;}


@media only screen and (orientation: portrait){
    .homecontainer{ overflow: scroll; overflow-x: hidden;}
    @keyframes homecontentkf { 100% {transform: translate(0, -25.88888888888889vh);} }
    .homecontent h1 {
        margin-bottom: 0.481vh;
    }
    .datacontainer{ padding-top: 10vh; flex-direction: column;}
}
@media only screen and (max-height: 380px){
    .datatype{padding: 1.75rem 0.5rem; font-size: 30px; font-weight: bold;}
    .datatype i{ font-size: 14px; }
    

    @keyframes homecontentkf { 100% {transform: translate(0, -20.88888888888889vh);} }
    .homecontent h1 {
        /*height: 12.96296296296296vh;*/
        margin-bottom: 1.481vh;
        font-weight: 700;
        letter-spacing: 0.001em;
        font-size: 7.48vh;
    }
    .homecontent h2, h4 {
        font-weight: 400;
        font-size: 4.777vh;
        height: 4.7vh;
    }
    .datacontainer {
        padding-top: 2.777vh;
    }


}