﻿@keyframes introitemkf {
    100% {
        transform: translate(85vw,0);
        -webkit-transform: translate(85vw,0); /** Chrome & Safari **/
        -o-transform: translate(85vw,0); /** Opera **/
        -moz-transform: translate(85vw,0); /** Firefox **/
    }
}

@keyframes introkf {
    0% {opacity: 0}
    15% {opacity: 1}
    70% {opacity: 1}
    100% {opacity: 0.6;}
}

.intro {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgb(0, 31, 40);
    animation: introkf 9.5s ease-in 0.5s both normal;
}
.introitem {
    font-size: 2.86458333333333vw;
    color: antiquewhite;
    left: -48.69791666666661vw;
    font-family: 'Courier New';
    position: absolute;
    display: block;
    animation: introitemkf 2s ease-in both normal;
}
#introitem1{
    top: 27vh;
    animation-delay: 1s;
}
#introitem2 {
    color: white;
    top: 37vh;
    font-weight: bolder;
    animation-delay: 3s;
}
#introitem3 {
    top: 46vh;
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
}


@media only screen and (orientation: portrait){
    .introitem{font-size: 5.86458333333333vw; left: -82.10416666666662vw;}
    #introitem2{ top: 35vh;}
    #introitem3{top: 43vh;}
    @keyframes introitemkf {
        100% {
            transform: translate(27em,0);
            -webkit-transform: translate(104vw,0); /** Chrome & Safari **/
            -o-transform: translate(27em,0); /** Opera **/
            -moz-transform: translate(27em,0); /** Firefox **/
        }
    }
}