﻿@page "/Certificates"

<div class="content-main-division">
    <div class="content-area" id="scrollbar-style-2">
        <h1 class="centertext heading">CERTIFICATES</h1>
        <br />
        <h5 class="centertext">
            Certificates ensure good basics knowledge. <br />
            They are important but projects are the real teacher.
        </h5>

        <BreakLine Number="3" />

        <h3 class="underline">Build Web Apps with ASP.Net Skill Path</h3>
        <h5>Skill Path, From CodeCademy Online Learning Website</h5>

        <BreakLine Number="2" />

        <h3 class="underline">Build a Website with HTML, CSS, and Github Pages</h3>
        <h5>Skill Path, From CodeCademy Online Learning Website</h5>

        <BreakLine Number="3" />

        <h1 class="centertext heading">ONGOING LEARNING</h1>

        <BreakLine Number="2" />

        <h3 class="underline">Web Development Career Path</h3>
        <h5>Career Path, From CodeCademy Online Learning Website </h5>
        <h6>Adding to my skills: Advanced Javascript, React, Back-end development </h6><h6> with javascript,  Test-Driven Development with JavaScript and more</h6>

        <br />
        <h3 class="underline">Computer Science</h3>
        <h5>From CodeCademy Online Learning Website</h5>

        <BreakLine Number="3" />

        <h1 class="centertext heading"><a href="./Home/true"><li class="fa fa-home underline"></li></a></h1>
    </div>
</div>
