﻿@page "/Home"
@page "/Home/{IsReturn:bool}"
@inject NavigationManager NavigationManager

<div class="homecontainer @NoAnimationClassName" id="scrollbar-style-6">
    <div class="homecontent @NoAnimationClassName">
        <h1 class="@NoAnimationClassName" id="name">Shenoda Samy William</h1>
        <h2 class="@NoAnimationClassName" id="job">Web and Windows Developer</h2>
        <h4 class="@NoAnimationClassName" id="email">Shenoda.Samy.William@hotmail.com</h4>
    </div>
    <div class="datacontainer @NoAnimationClassName">
        <div class="datatype @NoAnimationClassName" id="skills" @onclick="async () => { NavigationManager.NavigateTo(SkillsComponentName); }">
            <i class="fa fa-laptop fa-3x"></i>
            <h1>&nbsp;&nbsp;&nbsp;&nbsp;Skills&nbsp;&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <div class="datatype @NoAnimationClassName" id="projects" @onclick="async () => { NavigationManager.NavigateTo(ProjectsComponentName); }">
            <i class="fa fa-briefcase fa-3x"></i>
            <h1>&nbsp;&nbsp;&nbsp;Projects&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <div class="datatype @NoAnimationClassName" id="certificates" @onclick="async () => { NavigationManager.NavigateTo(CertificatesComponentName); }">
            <i class="fa fa-book fa-3x"></i>
            <h1>Certificates</h1>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public bool IsReturn { get; set; } = false;
    public string CertificatesComponentName { get; set; } = "certificates";
    public string ProjectsComponentName { get; set; } = "projects";
    public string SkillsComponentName { get; set; } = "skills";

    public string NoAnimationClassName { get; set; } = string.Empty;

    protected override Task OnInitializedAsync()
    {
        if (IsReturn == true) NoAnimationClassName = "no-animation";
        else NoAnimationClassName = string.Empty;
        return base.OnInitializedAsync();
    }
}
