﻿@page "/Intro"
@inject NavigationManager NavigationManager

<div class="intro">
    <div class="introitem" id="introitem1">
        Hard Work
    </div>
    <div class="introitem" id="introitem2">
        Intilligent Work
    </div>
    <div class="introitem" id="introitem3">
        Standardized Work
    </div>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(10000);
        NavigationManager.NavigateTo("Home");
        //return base.OnAfterRenderAsync(firstRender);
    }
}




