﻿@page "/Projects"

<div class="content-main-division">
    <div class="content-area" id="scrollbar-style-2">
        <h1 class="centertext heading">PROJECTS</h1>
        <br />
        <h5 class="centertext">
            During Years, Many projects were developed. With time, Applications were re-developed aiming best results, maximum usability and highest maitainence capability. <br />
            Only projects with uptill now valid technologies were mentioned here.
        </h5>




        <!--SECTION HEAD-->
        <div class="sections-head">
            <BreakLine Number="2" />
            <h3 class="bold underline">2020 Projects:</h3>
            <br />
        </div>

        <div class="section">
            @{ I++; ClinicIndex = I;}
            <h4 class="bold indent">[@I] Clinic Application (Blazor):</h4>
            <h5 class="indent-double linehight-onehalf"><b>Main Purpose:</b> Managing clinics reception.</h5>
            <h5 class="indent-double linehight-onehalf"><b>Technologies:</b> C#, ASP.net Core, Blazor, Entity Framework Core, Bootstrap 4.</h5>
            <BreakLine Number="2" />
        </div>
        <div class="section">
            @{ I++; }
            <h4 class="bold indent">[@I] Clinic Application (MVC):</h4>
            <h5 class="indent-double linehight-onehalf">The version just before Project [@ClinicIndex].</h5>
            <h5 class="indent-double linehight-onehalf"><b>Technologies: </b> C#, ASP.net Core MVC, Entity Framework Core, Bootstrap 4.</h5>
            <BreakLine Number="2" />
        </div>
        <div class="section">
            @{ I++; SellHireSystemIndex = I;}
            <h4 class="bold indent">[@I] Sell Hire Financial System (Blazor):</h4>
            <h5 class="indent-double linehight-onehalf"><b>Main Purpose:</b> Managing the finance of small to mid-range multibranch Companies and Shops.</h5>
            <h5 class="indent-double linehight-onehalf"><b>Includes</b> Billing, Store, Reports and HR Functionalities.</h5>
            <h5 class="indent-double linehight-onehalf"><b>Technologies:</b> C#, ASP.net Core, Blazor, Razor Pages, Entity Framework Core, Bootstrap 4.</h5>
            <BreakLine Number="2" />
        </div>
        <div class="section">
            @{ I++; }
            <h4 class="bold indent">[@I] Sell Hire Financial System (MVC):</h4>
            <h5 class="indent-double linehight-onehalf">The version just before Project [@SellHireSystemIndex].</h5>
            <h5 class="indent-double linehight-onehalf"><b>Technologies:</b> C#, ASP.net Core MVC, Entity Framework Core, Bootstrap 4.</h5>
            <BreakLine Number="2" />
        </div>

        <div class="section">
            @{ I++; SubscriptionAppIndex = I;} 
            <h4 class="bold indent">[@I] Subscription Manager (MVC):</h4>
            <h5 class="indent-double linehight-onehalf"><b>Main Purpose:</b> Managing annual member subscriptions of a Driver Syndicate.</h5>
            <h5 class="indent-double linehight-onehalf"><b>Technologies:</b> C#, ASP.net Core MVC, Entity Framework Core, Bootstrap 4.</h5>
            <BreakLine Number="2" />
        </div>

        <!--SECTION HEAD-->
        <div class="sections-head">
            <BreakLine Number="2" />
            <h3 class="bold underline">Last Years Projects:</h3>
            <br />
        </div>

        <div class="section">
            @{ I++; }
            <h4 class="bold indent">[@I] Clinic Application (WinForms):</h4>
            <h5 class="indent-double linehight-onehalf">The First C# Application in My Career.</h5>
            <h5 class="indent-double linehight-onehalf"><b>Main Purpose: </b>Managing patients data.</h5>
            <h5 class="indent-double linehight-onehalf">The First Version of Project [@ClinicIndex].</h5>
            <h5 class="indent-double linehight-onehalf"><b>Technologies: </b>C#, Windows Forms Application.</h5>
            <BreakLine Number="2" />
        </div>

        <div class="section">
            @{ I++; }
            <h4 class="bold indent">[@I] Subscription Manager (WinForms):</h4>
            <h5 class="indent-double linehight-onehalf"><b>Main Purpose:</b> The First Version of Project [@SubscriptionAppIndex].</h5>
            <h5 class="indent-double linehight-onehalf"><b>Technologies:</b> C#, Windows Forms, MariaDb Database.</h5>
            <BreakLine Number="2" />
        </div>


        <div class="section">
            @{ I++; }
            <h4 class="bold indent">[@I] Sell Hire Financial System (WPF):</h4>
            <h5 class="indent-double linehight-onehalf">The First Version of Project [@SellHireSystemIndex].</h5>
            <h5 class="indent-double linehight-onehalf"><b>Technologies:</b> C#, Windows Presentaion Foundation (WPF), Postgresql Database.</h5>
            <BreakLine Number="2" />
        </div>

        <BreakLine Number="3" />
        <HomeLink/>

    </div>
</div>

@code{
    private int I { get; set; }
    private int ClinicIndex { get; set; }
    private int SellHireSystemIndex { get; set; }
    private int SubscriptionAppIndex { get; set; }
}