﻿@page "/Skills"

<div class="content-main-division" id="skills-content">
    <div class="content-area" id="scrollbar-style-2">
        <!-- using h3 underline, h5 description in between two br. 3 br between sections-->
        <h1 class="centertext bold">SKILLS</h1>


        <div class="sections-head">
            <BreakLine Number="2"/>
            <h3 class="bold underline">Programming Skills</h3>
            <br />
        </div>
        <div class="section">
            <h4 class="bold indent">Back-end:</h4>
            <h5 class="indent-double linehight-onehalf">C#, ASP.Net Core, ASP.NET Core MVC, Entity Framework Core</h5>
            <BreakLine Number="2" />
        </div>
        <div class="section">
            <h4 class="bold indent">Front-end:</h4>
            <h5 class="indent-double linehight-onehalf">Blazor, HTML5, CSS3, Javascipt, Bootstrap 4</h5>
            <BreakLine Number="2" />
        </div>
        <div class="section">
            <h4 class="bold indent">Desktop Technologies:</h4>
            <h5 class="indent-double linehight-onehalf">Windows Forms Application, Windows Presentation Foundation (WPF), Universal Windows Presentation (UWP) for windows Store Application Development</h5>
            <BreakLine Number="2" />
        </div>
        <div class="section">
            <h4 class="bold indent">Familiar With:</h4>
            <h5 class="indent-double linehight-onehalf">Sql languages (SQL Server, Postgresql, MySql, MariaDb)</h5>
            <br />
        </div>


        <div class="sections-head">
            <br />
            <h3 class="bold underline">Langugages:</h3>
            <br />
        </div>
        <div class="section">
            <h4> English (fluent), German (moderate), Arabic (first-language) </h4>
        </div>


        <BreakLine Number="5" />
        <h1 class="centertext heading"><a href="./Home/true"><li class="fa fa-home underline"></li></a></h1>
    </div>
</div>