﻿@inject NavigationManager NavigationManager

@if (state == 0)
{
    <Intro/>
}
else
{
    <Home></Home>
}
@code{
    public int state { get; set; }
    protected override Task OnInitializedAsync()
    {
        ChangeState();
        return base.OnInitializedAsync();
    }
    public async Task ChangeState()
    {
        for (int i = 0; i < 2; i++)
            if (i == 0)
                await Task.Delay(10000);
            else
            {
                state = i;
                StateHasChanged();
            }
    }
}
